<table border="1">
	{% for entry in content %}
		<tr>
			<td>{{ entry.id }}</td>
			<td><a href="#">{{ entry.title }}</a></td>
			<td>{{ entry.description }}</td>
		</tr>
	{% endfor %}
</table>

<fieldset>
<legend>New</legend>
<ul>
	{% for contentType in contentTypes %}
		<li><a href="{{ URL_route('admin_new_content', contentType.id) }}">{{ contentType.name }}</a></li>
	{% endfor %}
</ul>
</fieldset>