{% extends layout %}

{% block content %}
	<form action="{{ URL_route('admin_post_content', content.id) }}" method="post">
	<input type="hidden" name="contentType[id]" value="{{ contentType.id }}" />
	{% for region in contentType.regions %}
		<fieldset>
			<legend><span>{{ region.name }}</span></legend>
			{% for blockData in content.blockDataIn(region) %}
				<fieldset>
					<legend>{{ blockData.block.name }}</legend>
					{% for field in blockData.block.fields %}
						<div>
							{{ field.renderInputFieldFor(blockData) }}
						</div>
					{% endfor %}
					<input type="text" name="blockData[{{ blockData.id }}][order]" value="{{ loop.index }}" />
					<button name="removeBlockData" value="{{ blockData.id }}">Remove</a>
				</fieldset>
			{% endfor %}
			<button name="addBlock" value="{{ region.id }}">Add Block</a>
		</fieldset>
	{% endfor %}
	<input type="submit" value="Save" />
	</form>
{% endblock %}